<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="bottom-menu-style.css" rel="stylesheet">
		<link rel="icon" type="image/vnd.microsoft.icon" href="../img/contacts/join-logo.svg">
		
		<title>Sidemenu</title>
	</head>
	<body>	
			
				<nav class="bottom-nav">
					<a
						class="bottombar-navigation-menupoints"
						href="../templates/index.html"
						><div class="bottombar-img-container">
							<img src="../img/sidebar/summary.png" alt="" />
						</div>
						<span>Summary</span></a
					>
					<a
						class="bottombar-navigation-menupoints"
						href="../templates/board.html"
						><div class="bottombar-img-container">
							<img src="../img/sidebar/board.png" alt="" />
						</div>
						<span>Board</span></a
					>
					<a
						class="bottombar-navigation-menupoints"
						href="../templates/addtask.html"
						><div class="bottombar-img-container">
							<img src="../img/sidebar/addtask.png" alt="" />
						</div>
						<span>Add Task</span></a
					>
					<a
						class="bottombar-navigation-menupoints"
						href="../templates/contacts.html"
						><div class="bottombar-img-container">
							<img src="../img/sidebar/contacts.png" alt="" />
						</div>
						<span>Contacts</span></a
					>
				</nav>
			
			
	</body>
</html>
