<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="fonts.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="../img/contacts/join-logo.svg">
    <script src="../js/users.js"></script>
    <script src="../js/mini_backend.js"></script>
    <title>Forgot my password</title>
</head>

<body>
    <header>
        <img class="join-logo" src="../img/sidebar/join-logo.png">
    </header>
    <main>
        <div class="forgot-container container-layout">
            <div class="signup-head">
                <a class="arrow-container" href="login.html"><img class="arrow-left-forgot" src="../img/login/arrow-left.png"></a>
                <h1>I forgot my password</h1>
                <div class="placeholder-container"></div>
            </div>
            <div class="blue-line-forgot"></div>
            <span class="instruction-text">Don't worry! We will send you an email with the instructions to<br>
                reset your password.
            </span>
    
            <form action="resetpassword.html" method="POST">
                <input style="width: -webkit-fill-available;" class="input bg-email mt-49" type="email" name="email" placeholder="Email" id="email-input" required>
                <div class="signup-btn-container">
                    <button type="submit" class="send-btn">Send me the Mail</button>
                </div>
            </form>
        </div>
    </main>    
</body>

</html>