<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="../img/contacts/join-logo.svg">
    <script src="../js/main.js"></script>
    <script src="../js/users.js"></script>
    <title>Header</title>
</head>
<body>
    <header>
        <div class="headClass">
        <a href="index.html"><img class="join-left" src="../img/sidebar/join-logo.png"></a>
        <span class="header-text">Kanban Projekt Managament Tool</span>
    </div>
        <div>
            <div class="header-right-div">
                <a class="help-icon" href="help.html"><img class="vector" src="../img/summary/questionMark.png"></a>
                <img class="profile-right" onclick="toggleMenu()" src="../img/summary/profilpicture.png">
            </div>
            <nav id="toggle-menu" class="navig d-none">
                <a class="help-dropdown" href="help.html" id="nav-help">Help/Legal Notice</a>
                <a class="logout-btn" onclick="logout()" id="nav-log"></a>
            </nav>
        </div>
    </header>
    
</body>
</html>