<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="fonts.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="../img/contacts/join-logo.svg">
    <title>Reset Password</title>
</head>

<body>
    <header>
        <img class="join-logo" src="../img/sidebar/join-logo.png">
    </header>
    <main>
        <div class="reset-container container-layout">
            <div class="signup-head">
                <a class="arrow-container" href="login.html"><img class="arrow-left-forgot" src="../img/login/arrow-left.png"></a>
                <h1>Reset your password</h1>
                <div class="placeholder-container"></div>
            </div>
            <div class="blue-line"></div>
            <span class="instruction-text">Change your account password
            </span>

                <input class="input bg-password mt-49" type="password" name="" placeholder="Password" id="">

                <input class="input bg-password mt-49" type="password" name="" placeholder="Password" id="">

            <div class="signup-btn-container">
                <a href="#"><img class="btn se" src="../img/login/continue-btn.png"></a>
            </div>
        </div>
    </main>
</body>

</html>